<!doctype html>
<html lang="en">

<head>
    <title>Giỏ hàng - RestoMan</title>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/slick.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/style-mobile.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row mt-3">
                    <div class="col-auto mr-auto">
                        <a href="index_mb.html">
                            <img src="assets/img/logo.svg" width="32">
                        </a>
                    </div>
                    <div class="col-7 mx-auto">
                        <div class="input-group mb-4 border rounded-pill px-1">
                            <input type="search" placeholder="Tìm kiếm?" class="form-control bg-none border-0"
                                style="padding: .375rem .75rem;">
                            <div class="input-group-append border-0">
                                <button class="btn btn-link"><img src="assets/img/search.svg" width="15"></button>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <a href="javascript:;">
                            <img class="ml-2 float-left" src="assets/img/uil_cart.svg" />
                            <div class="cart-num px-1 d-flex justify-content-center align-items-center">2</div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item"><a href="index_mb.html">Trang chủ</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Giỏ hàng</li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col-12 p-0 mb-4">
                        <div class="card border-0">
                            <div class="row card-body">
                                <div class="col-8 p-0 text-left d-flex justify-content-between align-items-center">
                                    <h5 class="font-weight-bolder">Giỏ hàng của bạn</h5>
                                </div>
                                <div class="col-4 p-0 text-right d-flex justify-content-end align-items-center">
                                    <h5 class="font-weight-bolder">Số bàn:&nbsp;&nbsp;</h5> <input type="number" class="form-control d-inline p-0 text-center w-25">
                                </div>
                            </div>
                            <i class="border-bottom mx-2 mb-2"></i>
                            <div class="card-body p-0">
                                <div class="list-group overflow-auto cart">
                                    <div class="row my-2">
                                        <div class="col-7 p-0">
                                            <div class="media">
                                                <img class="img-cart px-2"
                                                    src="assets/img/pexels-jonathan-borba-2878741-1.png">
                                                <div class="media-body">
                                                    <h6>Nui xào bê</h6>
                                                    <h6 class="text-main">30.000đ</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4 d-flex justify-content-between align-items-center">
                                            <form>
                                                <input class="btn-qty inc" type="button" value="-" />
                                                <input class="total-item input-qty" type="text" value="1" />
                                                <input class="btn-qty dec" type="button" value="+" />
                                            </form>
                                        </div>
                                        <div class="col-1 p-0 d-flex justify-content-start">
                                            <a href="javascript:;">
                                                <span class="bg-light rounded-br px-1">&times;</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row my-2">
                                        <div class="col-7 p-0">
                                            <div class="media">
                                                <img class="img-cart px-2"
                                                    src="assets/img/pexels-rajesh-tp-1633525-1.png">
                                                <div class="media-body">
                                                    <h6>Nui xào bò</h6>
                                                    <h6 class="text-main">30.000đ</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4 d-flex justify-content-between align-items-center">
                                            <form>
                                                <input class="btn-qty inc" type="button" value="-" />
                                                <input class="total-item input-qty" type="text" value="1" />
                                                <input class="btn-qty dec" type="button" value="+" />
                                            </form>
                                        </div>
                                        <div class="col-1 p-0 d-flex justify-content-start">
                                            <a href="javascript:;">
                                                <span class="bg-light rounded-br px-1">&times;</span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row my-2">
                                        <div class="col-7 p-0">
                                            <div class="media">
                                                <img class="img-cart px-2"
                                                    src="assets/img/pexels-rajesh-tp-1633572-1.png">
                                                <div class="media-body">
                                                    <h6>Nui xào trứng</h6>
                                                    <h6 class="text-main">30.000đ</h6>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4 d-flex justify-content-between align-items-center">
                                            <form>
                                                <input class="btn-qty inc" type="button" value="-" />
                                                <input class="total-item input-qty" type="text" value="1" />
                                                <input class="btn-qty dec" type="button" value="+" />
                                            </form>
                                        </div>
                                        <div class="col-1 p-0 d-flex justify-content-start">
                                            <a href="javascript:;">
                                                <span class="bg-light rounded-br px-1">&times;</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body p-0 pt-3">
                                <div class="row">
                                    <div class="col-12 p-0">
                                        <div class="d-flex justify-content-between px-4 pb-3">
                                            <h6>Tổng</h6>
                                            <h6>60.000đ</h6>
                                        </div>
                                        <div class="d-flex justify-content-between px-4 pb-3">
                                            <h6 class="text-muted">Phí dịch vụ</h6>
                                            <h6 class="text-muted">20.000đ</h6>
                                        </div>
                                        <div class="d-flex justify-content-between px-4 pb-3">
                                            <h6>Tổng cộng:</h6>
                                            <h6>80.000đ</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer p-0 pt-3">
                                <a href="print.html" class="btn btn-main btn-block p-3">Thanh
                                    toán</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container-fluid bg-main">
            <div class="d-flex justify-content-around mt-3">
                <div class="text-dark py-3">
                    <h6><img src="assets/img/phone.svg"> 1800 6080</h6>
                </div>
                <div class="text-dark py-3">
                    <h6><img src="assets/img/mail.svg"> service@restoman.com.vn</h6>
                </div>
            </div>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/slick.min.js"></script>
    <script src="assets/js/style.js"></script>
</body>

</html>