<!DOCTYPE html>
<html>
<head>
    <style>
        .box-cro{
            position: fixed;
            bottom: 100px;
            right: 0;
            width: 100px;
            height: 300px;
            background-color: rgb(0, 0, 0);
        }
        .box-cro-cro{
            position: absolute;
            bottom: 100px;
            right: 0;
            width: 100px;
            height: 300px;
            background-color: rgb(0, 0, 0);
        }
        .box-top{
            position: relative;
            width: 100%;
            height: 2000px;
            background-color: rgb(138, 250, 151);
        }
        .box-button {
            width: 100%;
            height: 10000px;
            background-color: lightgray;
        }
    </style>
</head>
<body>
    <div class="box-top" id="fixed-box">
        <p>
            Văn học hay ngữ văn (thường gọi tắt là văn) (Tiếng Anh: literature) theo cách nói chung nhất, là bất kỳ tác phẩm nào bằng văn bản. Hiểu theo nghĩa hẹp hơn, thì văn học là dạng văn bản được coi là một hình thức nghệ thuật, hoặc bất kỳ một bài viết nào được coi là có giá trị nghệ thuật hoặc trí tuệ, thường là do cách thức triển khai ngôn ngữ theo những cách khác với cách sử dụng bình thường. Trong các định nghĩa hiện đại hơn, văn học bao hàm cả các văn bản được nói ra hoặc được hát lên (văn học truyền miệng). Sự phát triển trong công nghệ in ấn đã cho phép phân phối và phát triển các tác phẩm chữ viết, và tạo ra loại văn học điện tử.

        Văn học có thể phân loại thành: hư cấu hoặc phi hư cấu (theo nội dung), và thơ hoặc văn xuôi (theo hình thức). Thể loại văn xuôi có thể phân loại tiếp thành tiểu thuyết, truyện ngắn và kịch bản. Các tác phẩm văn học có thể được phân loại theo từng giai đoạn lịch sử được nhắc đến, hoặc một số thể loại nội dung hoặc hành văn đặc thù (bi kịch, hài kịch, lãng mạn, gợi tình,...)

        Văn học là một trong những loại hình giữ vị trí quan yếu nằm trong 7 loại hình nghệ thuật cơ bản.

        Các định nghĩa
        Các định nghĩa của văn học đã thay đổi theo thời gian: đó là một "định nghĩa phụ thuộc vào văn hóa".[1] Ở Tây Âu trước thế kỷ 18, văn học biểu thị tất cả các cuốn sách và văn bản. Một ý nghĩa hạn chế hơn của thuật ngữ này xuất hiện trong thời kỳ Lãng mạn, trong đó nó bắt đầu phân định là các tác phẩm viết "giàu trí tưởng tượng".[2][3] Các cuộc tranh luận đương đại về những gì cấu thành nên văn học có thể được xem là trở lại với các quan niệm cũ hơn, bao quát hơn; nghiên cứu văn hóa, ví dụ, lấy làm chủ đề phân tích cả hai thể loại phổ biến và thiểu số, bên cạnh các tác phẩm kinh điển.

        Định nghĩa đánh giá giá trị của văn học coi nó chỉ bao gồm những tác phẩm có chất lượng cao hoặc sự khác biệt, tạo thành một phần của truyền thống được gọi là belles-lettres ('tác phẩm giá trị').[4] Kiểu định nghĩa này được sử dụng trong Encyclopædia Britannica Eleventh Edition (1910-11) khi nó phân loại văn học là "thể hiện tốt nhất của tư tưởng chuyển thể thành văn bản." [5] Vấn đề trong quan điểm này là không có định nghĩa khách quan về những gì cấu thành "văn học": bất cứ thứ gì cũng có thể là văn học, và bất cứ thứ gì mà được coi là văn học đều có khả năng bị loại trừ, vì các đánh giá về giá trị có thể thay đổi theo thời gian.[4]

        Định nghĩa hình thức là "văn học" tạo ra hiệu ứng thơ ca; đó là "văn chương" hay "thi pháp" của văn học phân biệt nó với lời nói thông thường hoặc các loại văn bản khác (ví dụ, báo chí).[6] [7] Jim Meyer coi đây là một đặc điểm hữu ích trong việc giải thích việc sử dụng thuật ngữ này có nghĩa là tài liệu được xuất bản trong một lĩnh vực cụ thể (ví dụ: "văn học khoa học "), vì văn bản đó phải sử dụng ngôn ngữ theo các tiêu chuẩn cụ thể.[8] Vấn đề với định nghĩa chính thức là để nói rằng văn học đi lệch khỏi cách sử dụng ngôn ngữ thông thường, trước tiên phải xác định những cách sử dụng đó; điều này thật khó khăn vì " ngôn ngữ thông thường " là một phạm trù không ổn định, khác nhau tùy theo các phạm trù xã hội và trong lịch sử.[9]

        Thể loại
        Thể loại văn học là một phương thức phân loại văn học.[10] Tuy nhiên, cách phân biệt thể loại văn học như vậy có thể thay đổi, và đã được sử dụng theo những cách khác nhau trong các thời kỳ và truyền thống khác nhau.

        Lịch sử
        </p>
        <div id="box" class="box-cro">

        </div>
    </div>
    <div id="box-button" class="box-button">
        Văn học hay ngữ văn (thường gọi tắt là văn) (Tiếng Anh: literature) theo cách nói chung nhất, là bất kỳ tác phẩm nào bằng văn bản. Hiểu theo nghĩa hẹp hơn, thì văn học là dạng văn bản được coi là một hình thức nghệ thuật, hoặc bất kỳ một bài viết nào được coi là có giá trị nghệ thuật hoặc trí tuệ, thường là do cách thức triển khai ngôn ngữ theo những cách khác với cách sử dụng bình thường. Trong các định nghĩa hiện đại hơn, văn học bao hàm cả các văn bản được nói ra hoặc được hát lên (văn học truyền miệng). Sự phát triển trong công nghệ in ấn đã cho phép phân phối và phát triển các tác phẩm chữ viết, và tạo ra loại văn học điện tử.

        Văn học có thể phân loại thành: hư cấu hoặc phi hư cấu (theo nội dung), và thơ hoặc văn xuôi (theo hình thức). Thể loại văn xuôi có thể phân loại tiếp thành tiểu thuyết, truyện ngắn và kịch bản. Các tác phẩm văn học có thể được phân loại theo từng giai đoạn lịch sử được nhắc đến, hoặc một số thể loại nội dung hoặc hành văn đặc thù (bi kịch, hài kịch, lãng mạn, gợi tình,...)

        Văn học là một trong những loại hình giữ vị trí quan yếu nằm trong 7 loại hình nghệ thuật cơ bản.

        Các định nghĩa
        Các định nghĩa của văn học đã thay đổi theo thời gian: đó là một "định nghĩa phụ thuộc vào văn hóa".[1] Ở Tây Âu trước thế kỷ 18, văn học biểu thị tất cả các cuốn sách và văn bản. Một ý nghĩa hạn chế hơn của thuật ngữ này xuất hiện trong thời kỳ Lãng mạn, trong đó nó bắt đầu phân định là các tác phẩm viết "giàu trí tưởng tượng".[2][3] Các cuộc tranh luận đương đại về những gì cấu thành nên văn học có thể được xem là trở lại với các quan niệm cũ hơn, bao quát hơn; nghiên cứu văn hóa, ví dụ, lấy làm chủ đề phân tích cả hai thể loại phổ biến và thiểu số, bên cạnh các tác phẩm kinh điển.

        Định nghĩa đánh giá giá trị của văn học coi nó chỉ bao gồm những tác phẩm có chất lượng cao hoặc sự khác biệt, tạo thành một phần của truyền thống được gọi là belles-lettres ('tác phẩm giá trị').[4] Kiểu định nghĩa này được sử dụng trong Encyclopædia Britannica Eleventh Edition (1910-11) khi nó phân loại văn học là "thể hiện tốt nhất của tư tưởng chuyển thể thành văn bản." [5] Vấn đề trong quan điểm này là không có định nghĩa khách quan về những gì cấu thành "văn học": bất cứ thứ gì cũng có thể là văn học, và bất cứ thứ gì mà được coi là văn học đều có khả năng bị loại trừ, vì các đánh giá về giá trị có thể thay đổi theo thời gian.[4]

        Định nghĩa hình thức là "văn học" tạo ra hiệu ứng thơ ca; đó là "văn chương" hay "thi pháp" của văn học phân biệt nó với lời nói thông thường hoặc các loại văn bản khác (ví dụ, báo chí).[6] [7] Jim Meyer coi đây là một đặc điểm hữu ích trong việc giải thích việc sử dụng thuật ngữ này có nghĩa là tài liệu được xuất bản trong một lĩnh vực cụ thể (ví dụ: "văn học khoa học "), vì văn bản đó phải sử dụng ngôn ngữ theo các tiêu chuẩn cụ thể.[8] Vấn đề với định nghĩa chính thức là để nói rằng văn học đi lệch khỏi cách sử dụng ngôn ngữ thông thường, trước tiên phải xác định những cách sử dụng đó; điều này thật khó khăn vì " ngôn ngữ thông thường " là một phạm trù không ổn định, khác nhau tùy theo các phạm trù xã hội và trong lịch sử.[9]

        Thể loại
        Thể loại văn học là một phương thức phân loại văn học.[10] Tuy nhiên, cách phân biệt thể loại văn học như vậy có thể thay đổi, và đã được sử dụng theo những cách khác nhau trong các thời kỳ và truyền thống khác nhau.

        Lịch sử
    </div>
    

    <script>
        const element = document.getElementById('box-button');
        window.addEventListener('scroll', ()=>{
            const triggerPosition = element.getBoundingClientRect().top;
            const viewportHeight = window.innerHeight;
            if (triggerPosition <= viewportHeight) {
                const box = document.getElementById('box');
                box.classList.remove('box-cro');
                box.classList.add('box-cro-cro');
            }else {
                // Không thỏa mãn điều kiện, quay lại lớp CSS ban đầu
                box.classList.remove('box-cro-cro');
                box.classList.add('box-cro');
            }
        });

    </script>
</body>
</html>
