<!doctype html>
<html lang="en">

<head>
    <title>RestoMan</title>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css?v=3">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-1 p-0">
                <div id="sidebar">
                    <header>
                        <a href=index.html><img src="img/logo.svg"></a>
                    </header>
                    <ul class="list-group border-right">
                        <li class="list-group-item border-0 py-4 pt-5">
                            <a href=index.html>
                                <img src="img/home.svg">
                            </a>
                        </li>
                        <li class="list-group-item border-0 py-4">
                            <a href="table.html">
                                <img src="img/dashboard.svg">
                            </a>
                        </li>
                        <li class="list-group-item border-0 py-4">
                            <a href="#">
                                <img src="img/order.svg">
                            </a>
                        </li>
                        <li class="list-group-item border-0 py-4">
                            <a href="#">
                                <img src="img/product.svg">
                            </a>
                        </li>
                        <li class="list-group-item border-0 py-4">
                            <a href="#">
                                <img src="img/notification-1.svg">
                            </a>
                        </li>
                        <li class="list-group-item border-0 py-4">
                            <a href="#">
                                <img src="img/customers.svg">
                            </a>
                        </li>
                        <li class="list-group-item border-0 py-4">
                            <a href="#">
                                <img src="img/message.svg">
                            </a>
                        </li>
                        <li class="list-group-item border-0 py-4 pb-5">
                            <a href="#">
                                <img src="img/setting.svg">
                            </a>
                        </li>
                        <li class="list-group-item border-0 py-4 pb-5"></li>
                    </ul>
                </div>
            </div>
            <div class="col-11 mt-5">
                <button onclick="window.location='index.html';" class="btn btn-main p-1">
                    <img src="img/back.svg">
                </button>
                <div class="text-center">
                    <img src="img/illustration.png" class="img-fluid">
                    <div class="mt-5">
                        <h2 class="font-weight-bolder">In hóa đơn thành công</h2>
                        <h5 class="text-muted">Vui lòng đợi giây lát để in hóa đơn</h5>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
    <script src="style.js"></script>
</body>

</html>