*{
    margin: 0; 
    padding: 0;
    }
    body{
    margin: 0 auto;
    max-width: 1366px;
    max-height: 1024px;
    }
    #wrapper{
      padding-top: 10%;
    display: flex;
    }
    .left{
    width: 50%;
    float: left;
    background-color: rgb(255, 255, 255);
    border-right: 0.5px solid #DDD;
    }
    .img{
    display: flex;
    width: 600px;
    height: 479px;
    justify-content: center;
    align-items: center;
    }
  
  .right{
    float: right;
    margin: 0 auto;
    width:50% ;
  }
  .text{
    padding-bottom: 10%;
    padding-left: 17%;
    margin-bottom: 20px;
    /* text-align: left; */
    color: var(--main-colors-main-color-secondary, #000);
    font-family: Roboto;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .input-container {
    display: flex;
    align-items: center;
    width: 450px;
    height: 60px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid var(--additional-colors-additional-color-border, #DDD);
  }
  .w3-input{
    outline: 0;
  }
  .input-container i.fa-at {
    /* margin-right: 10px; */
    font-size: 24px;
    padding: 20px 20px 20px 25px;
    color: #F67F20;
  }
  .input-container i.fa-lock {
    /* margin-right: 10px; */
    font-size: 24px;
    padding: 20px 20px 20px 25px;
    color: #F67F20;
  }
  .input-container input {
    flex: 1;
    border-radius: 10px;
  width: 451.186px;
  height: 60px;
  flex-shrink: 0;
  
  }
  input[type="text" i] {
    padding-left: 10px;
    border: none;
    color: var(--additional-colors-additional-color-grey-font, #999);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .text1{
    position: absolute;
    padding-top: 160px;
    right: 225px;
  }
  .text1 a{
    text-decoration: none;
    color: var(--main-colors-main-color-primary, #F67F20);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
  }
  .button3 {
    border: none;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    width: 456px;
    height: 60px;
    color: #fff;
    font-weight: 600;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  .button3{
    background-color: #F67F20;
  }
  
  .button3:hover {
    background-color:  #F67F20(37, 249, 3, 0.80);
    color: rgb(255, 255, 255);
  }
  .body-form{
    width: 456px;
    height: 440px;
    margin: 0 auto;
  }
  .body-item-input{
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    border-radius: 10px;
    border: 1px solid var(--additional-colors-additional-color-border, #DDD);
    padding: 0 10px 0 10px;
  }
  .body-item-input i{
    font-size: 35px;
    color: #F67F20;
    width: 10%;
  }
  .body-item-input input{
    width: 90%;
    height: 98%;
    border: none;
    font-size: 18px;
    font-weight: 400;
  }
  input:focus {
    outline: none;
  }
  .body-input-email{
    margin-bottom: 35px;
    margin-top: 58px;
  }
  .body-input-password{
    margin-bottom: 24px;
  }
  .item-form-check{
    margin-bottom: 20px;
  }
  .item-title{
    font-size: 44px;
    font-weight: 600;
  }