#exchange{
    display: flex;
}
.amount-detroy{
    width: 26px;
    height: 26px;
    border-radius: 8px;
    border: none;
    color: #000000;
    background-color: #F5F5F5;
    font-size: 18px;
    font-weight: 400;
}
.amount-plus{
    width: 26px;
    height: 26px;
    border-radius: 8px;
    border: none;
    color: #fff;
    background-color: #F67F20;
    font-size: 18px;
    font-weight: 400;
}
.amount{
    width: 25px;
    height: 24px;
    text-align: center  ;
}
/* phần css của bill */
.item-bill{
    width: 500px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #000;
}
.item-bill-none{
    display: none;
}
.item-bill-id{
    height: 84px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.item-bill-id span{
    font-size: 24px;
    font-weight: 500;
}
.item-bill-info{
    width: 100%;
    height: 170px;
    border-top: 0.5px solid rgb(190, 190, 190);
    border-bottom: 0.5px solid rgb(190, 190, 190);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.item-info{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.item-info span{
    font-size: 20px;
    font-weight: 500;
}
.item-bill-product{
    width: 100%;
    min-height: 300px;
}
.item-product{
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: 30px auto 22px auto;
}
.item-product span{
    width: 20%;
    font-size: 18px;
    font-weight: 500;
}

.item-product-name{
    width: 60%;
    display: flex;
}
.item-product-name span{
    width: auto;
    font-size: 18px;
    font-weight: 500;
}
.item-bill-into-money{
    width: 100%;
    height: 250px;
}
.into-money-total{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.into-money-total span{
    font-size: 20px;
    font-weight: 500;
}
.into-mony-tax{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 0.5px solid rgb(190, 190, 190);
}
.into-mony-tax span{
    font-size: 20px;
    font-weight: 400;
    color: #b5b5b5;
}
.into-mony-pay{
    width: 95%;
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: space-between;
}
.into-mony-pay span{
    font-size: 22px;
    font-weight: 700;
}
/* phần show history */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(10%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
  }
  @keyframes fadeBack {
    from {
        opacity: 0;
        transform: translateZ(10%);
    }
    to {
        opacity: 0.3;
        transform: translateZ(0);
    }
  }
.order-history{
    animation: fadeIn 0.25s ease-in-out;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
    z-index: 20;
    padding: 0;
}
.order-history-none{
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
    z-index: 20;
    padding: 0;
}
.order-history-back{
    animation: fadeBack 1s ease-in-out;
    width: 58%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
}
.body-order-history{
    width: 42%;
    background-color: #fff;
    height: 100%; padding-right: 10px;
    overflow: auto;
    border-radius: 8px;
    padding-top: 15px;
    padding-left: 20px;
}
.body-order-history::-webkit-scrollbar {
    display: none; /* Ẩn thanh cuộn trên trình duyệt Chrome/Safari */
}
.body-order-history {
    scrollbar-width: none; /* Ẩn thanh cuộn trên trình duyệt Firefox */
}
.history-order-title{
    width: 95%;
    margin: 0 auto;

}
.history-order-title span{
    font-size: 22px;
    font-weight: 600;
}
.id-order-history{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: #DDDDDD solid 1px;
    margin-bottom: 40px;
}
.id-order-history span{
    font-size: 26px;
    font-weight: 700;
}
.id-order-history p{
    font-size: 22px;
    font-weight: 600;
    color: #12991F;
}
.history-order-info{
    width: 95%;
    margin: 20px auto 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.history-info-item{
    text-align: center;
}
.history-info-item span{
    font-size: 20px;
    font-weight: 600;
    color: #BBBBBB;
}
.history-info-item p{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
}
.history-order-product{
    width: 95%;
    margin: 30px auto 0 auto;
}
.history-order-product span{
    font-size: 22px;
    font-weight: 600;
}
.body-history-order-product{
    width: 100%;
}
.item-history-product{
    margin-top: 25px;
    width: 100%;
    height: 100px;
    padding: 0 2% 0 2%;
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: 1px solid var(--additional-colors-additional-color-border, #DDD);

}
.item-history-product-new{
    margin-top: 25px;
    width: 100%;
    height: 100px;
    padding: 0 2% 0 2%;
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: 2.5px solid #F67F20;

}
.info-history-product{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 100%;
    align-items: center;
    
}
.info-history-product p{
    font-size: 20px;
    font-weight: 600;
    color: #F67F20;
    margin: 0;
}
.img-history-product{
    width: 85px;
    height: 85px;
    border-radius: 5px;
    margin-right: 15px;
    display: flex; /* Sử dụng flexbox để canh giữa hình ảnh */
    justify-content: center; /* Canh giữa theo chiều ngang */
    align-items: center; /* Canh giữa theo chiều dọc */
    overflow: hidden;
}
.img-history-product img{
    max-height: 100%; 
    height: auto; 
    display: block;
}
.history-order-button{
    width: 95%;
    height: 58px;
    margin: 30px auto 0 auto;
}
.history-order-button button{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    background-color: #22f05d;
}
.list-menu-db{
    z-index: 10;
}
#add-invoices{
    width: 100%;
}

@keyframes fadeProduct {
    from {
        opacity: 0;
        transform: translateY(-15%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
  }
#list-item{
    animation: fadeProduct 0.25s ease-in-out;
}
.no-order{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}
.no-order-none{
    display: none;
}
.body-img-product-menu{
    width: 87%;
    height: 180px;
    max-height: 180px;
    margin: 15px auto 0 auto;
    display: flex; /* Sử dụng flexbox để canh giữa hình ảnh */
    justify-content: center; /* Canh giữa theo chiều ngang */
    align-items: center; /* Canh giữa theo chiều dọc */
    overflow: hidden;
    border-radius: 10px;
}
.body-img-product-menu img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.body-img-product-order{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 8px;
    margin-right: 15px;
}
.body-img-product-order img{
    width: 100%;
    height: 100%;
    object-fit: cover; /* Để hình ảnh lấp đầy phần nội dung mà không bị thay đổi tỷ lệ */
}
#event-history i {
    color: #F67F20;
    font-size: 20px;
}
.item-category{
    margin-bottom: 10px;
}
.body-front-button{
    display: none;
}
.body-front-button-block{
   
}

/* Thiết lập css phần correct */

.all-body-correct-product{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1001;
}
.body-correct-product{
    width: 100%;
    height: 100%;
    position: relative;
}
.back-correct{
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.3;

}
.body-correct{
    width: 60%;
    height: 90%;
    position: absolute;
    left: 20%;
    top: 5%;
    background-color: #fff;
    border-radius: 10px;
}
.show-product-correct{
    width: 95%;
    height: 85%;
    background-color: #12991F;
    margin: 0 auto;
    border-radius: 5px;
}

/* CSS phần correct lấy từ file dự án */

.body-correct{
    position: fixed;
    width: 60%;
    height: 90%;
    position: absolute;
    left: 20%;
    top: 5%;
    background-color: #fff;
    border-radius: 10px;
}
.show-product-correct{
    width: 95%;
    padding: 15px 10px 0 10px;
    height: 85%;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    overflow: auto;
    border: #c3c2c2 solid 1.5px;
}
.button-save{
    width: 95%;
    height: 15%;
    margin: 0 auto;
    border-radius: 5px;
}
.item-product-correct{
    width: 48%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1.5px solid rgb(189, 189, 189);
    margin: 0 0 10px 0;
    border-radius: 8px;
}
.img-product-correct{
    width: 70px;
    height: 70px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 10px;
   
}
.price-product-correct input{
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid rgb(140, 140, 140);
}
.img-product-correct img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.lick-radio-correct{
    display: flex;
    align-items: center;
}
.info-product-correct{
    display: flex;
    align-items: center;
    width: 70%;
}
.tital-product-correct{
    display: flex;
    flex-direction: column;
}
.button-save{
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-save button{
    width: 193px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 8px;
    background: var(--main-colors-main-color-primary, #F67F20);
    border: none;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    color: #fff;
    margin: 0 auto;
}





