@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,800,900");

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}
.icon-header{
    font-size: 30px;
    color: #BBBBBB;
}
body {
    font-size: 0.95rem;
}
a{
    text-decoration: none;
}
a, a:link {
    text-decoration: none;
    color: #000;
}

b {
    font-weight: 600;
}

.h5, h5 {
    font-size: 1.15rem;
}

.text-small {
    font-size: 0.85rem;
}

.card {
    border-radius: .5rem;
    height: 100%;
}
.card-activity{
    border-radius: .5rem;
    background-color: #6aed61;
}

#sidebar {
    z-index:10;
    position: fixed;
    height: 100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar header {
    width: 105px;
    height: 100vh;
    font-size: 20px;
    line-height: 52px;
    text-align: center;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, .125);
}

#sidebar header ul {
    width: 100%;
    height: 85vh;
    border-top: 1px solid var(--additional-colors-additional-color-border, #DDD);
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 30px;
}
#sidebar header ul li{
    list-style: none;
}

.logo {
    font-weight: 600;
    font-size: 28px;
    text-align: center;
}

.logo .span {
    color: #000;
}

.logo .text {
    color: #f67f20;
    text-align: justify;
}

.form-control:focus {
    box-shadow: none;
}

.form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
}

.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
}

.bg-main, .btn-main {
    background-color: #f67f20;
    color: #fff;
}

.btn {
    font-size: 0.95rem;
    border-radius: .5rem;
}

.btn-main:hover {
    background-color: #12991F;
    color: #f5f5f5;
}

.text-main {
    color: #f67f20;
}

.product {
    height: 80%;
    overflow-y: scroll;
    padding-bottom: 15px;
}

.product::-webkit-scrollbar {
    display: none;
}

input {
    display: inline-block;
}

.cart {
    height: 50vh;
    overflow-y: scroll;
    padding-bottom: 15px;
}

.cart::-webkit-scrollbar {
    display: none;
}

.img-cart {
    width: 40%;
}

.img-fit {
    max-width: 20%;
    object-fit: cover;
    width: 100%;
    height: 70px;
    border-radius: .5rem;
}

/* input[type=text] {
    width: 20px;
    text-align: center;
    font-size: 16px;
} */

.inc {
    font-size: 16px;
    padding: 0px 7px;
    background-color: #f5f5f5;
    border-radius: .5rem;
    border: 0;
}

.dec {
    font-size: 16px;
    padding: 0px 7px;
    background-color: #f67f20;
    border-radius: .5rem;
    border: 0;
    color: #fff;
}

.total-item {
    border: 0;
}

.col-table {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

.item-table {
    color: #000;
}

a.item-table:hover {
    color: #fff;
    background-color: #f67f20;
    border-radius: .5rem;
}

.card-qr {
    background-color: #f5f5f5;
    border: 0;
}

.rounded-br {
    border-radius: 10px;
}

.px-6 {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

.px-7 {
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
}
#add-product{
    width: 124px;
    height: 40px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 10px;
    color: #fff;
    border: none;
    background-color: #f67f20;
}
.body-all{
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
}
.border-left{
    height: 100vh;
    width: 25%;
}
.body-cart {
    height: 90vh;
    overflow-y: scroll;
    padding-bottom: 15px;
}
.body-cart::-webkit-scrollbar {
    display: none;
}
.body-item-mmenu{
    max-height: 110vh;
}
#add-invoices{
    width: 100%;
    height: 58px;
    background-color: #f67f20;
    color: #f5f5f5;
    border-radius: 10px;
    border: none;
    margin-bottom: 50px;
}
.body-product-order{
    position: fixed;
    top: 0;
    z-index: 10;
}

input[name="filter"]:checked~label {
    color: white;
    background-color: #F67F20;
}
.img-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.setting{
    position: relative;
}
.extra-menu{
    top: -50%;
    right: -200px;
    position: absolute;
    width: 250px;
}
/* phần thông báo new order */
.new-item{
    position: absolute;
   bottom: 0;
   right: 0;
   width: 40px;
   height: 40px;
   background-color: #F67F20;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}
.new-item-span{
    font-size: 13px;
    font-weight: 500;
    color: #fff;
}
.body-show-table{
    width: 66.4%;   
}
.body-item-table{
    width: 20%;
}
.body-show-item-logo{
    display: flex;
}
.item-header-mob{
    display: none;
}
.body-home-menu{
    width: 115px;
}
.status-order{
    width: 30%;
}
.container-fluid{
    padding: 0; 
}
.info-order{
    width: 70%;
}
.class-header-user{
    opacity: 0;
}
@media (max-width: 450px) {
    .body-home-menu{
        display: none;
    }
    .class-header-user{
        opacity: 1;
    }
    .boby-all-user{
        margin-top: 15px;
    }
    .body-home-menu-block{
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 99;
        display: flex;
        justify-content: space-between;
    }
    .list-menu-db{
        width: 30%;
    }
    .back-menu{
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.3;
    }
    .list-menu-db header{
        background-color: #fff;
    }

    .border-left{
        display: none;
    }
    .border-left-block{
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
    }
    .back-show-order{
        width: 20%;
        height: 100%;
        background-color: #000;
        opacity: 0.3;
    }
    .body-show-order{
        width: 80%;
        background-color: #fff;
    }
    .body-show-table{
        width: 100%;
        flex-wrap: wrap;
    }
    .body-item-table{
        width: 50%;
    }
    #table{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }
    .item-header-mob{
        font-size: 23px;
        color: #000000;
    }
    .item-header-mob{
        display: block;
    }
    .status-order b{
        font-size: 10px;
    }
    #sidebar header ul {
        width: 100%;
        height: 85vh;
        border-top: 1px solid var(--additional-colors-additional-color-border, #DDD);
        padding: 0;
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        justify-content: flex-start
    }
    #sidebar header ul li{
        margin-top: 15px;
        margin-bottom: 15px;
    }
}
