<!doctype html>
<html lang="en">

<head>
    <title>Lịch sử đơn hàng - RestoMan</title>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/slick.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/style-mobile.css">
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 d-flex justify-content-center align-items-center d-block d-lg-none">
                <a href="index_mb.html">
                    <img src="assets/img/logo.svg" width="32">
                </a>
            </div>
            <div class="col-7 mt-3 d-block d-lg-none">
                <div class="input-group mb-4 border rounded-pill px-1">
                    <input type="search" placeholder="Tìm kiếm?" class="form-control bg-none border-0"
                        style="padding: .375rem .75rem;">
                    <div class="input-group-append border-0">
                        <button class="btn btn-link"><img src="assets/img/search.svg" width="15"></button>
                    </div>
                </div>
            </div>
            <div class="col-2 mt-3 pl-0 d-block d-lg-none">
                <a href="cart_mb.html">
                    <img class="ml-2 float-left" src="assets/img/uil_cart.svg" />
                    <div class="cart-num px-1 d-flex justify-content-center align-items-center">2</div>
                </a>
            </div>
            <div class="col-1 d-flex align-items-center ml-n4 d-block d-lg-none">
                <a href="#menu-toggle" id="menu-toggle" data-toggle="dropdown">
                    <i class="fa-regular fa-bars fa-xl"></i>
                </a>
                <div id="wrapper">
                    <div id="sidebar-wrapper">
                        <ul class="sidebar-nav">
                            <li class="h6">
                                <a href="index_mb.html">
                                    <i class="fa-solid fa-house pr-2 text-lightgrey"></i> Trang chủ
                                </a>
                            </li>
                            <li class="h6">
                                <a href="table.html">
                                    <i class="fa-solid fa-clipboard pr-2 text-lightgrey"></i> Đặt bàn
                                </a>
                            </li>
                            <li class="h6">
                                <a href="product.html">
                                    <i class="fa-solid fa-utensils pr-2 text-lightgrey"></i> Loại sản
                                    phẩm
                                </a>
                            </li>
                            <li class="h6">
                                <a href="javascript:;">
                                    <i class="fa-solid fa-burger pr-2 text-lightgrey"></i> Sản phẩm
                                </a>
                            </li>
                            <li class="h6">
                                <a href="javascript:;">
                                    <i class="fa-solid fa-bell pr-2 text-lightgrey"></i> Thông báo
                                </a>
                            </li>
                            <li class="h6">
                                <a href="javascript:;">
                                    <i class="fa-solid fa-database pr-2 text-lightgrey"></i> Thống kê
                                </a>
                            </li>
                            <li class="h6">
                                <a href="javascript:;">
                                    <i class="fa-solid fa-user pr-2 text-lightgrey"></i> Danh sách
                                    nhân viên
                                </a>
                            </li>
                            <li class="h6">
                                <a href="javascript:;">
                                    <i class="fa-solid fa-gear pr-2 text-lightgrey"></i> Cài đặt
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-1 p-0 d-none d-lg-block">
                <div id="sidebar">
                    <header>
                        <a href="index.html"><img src="assets/img/logo.svg"></a>
                    </header>
                    <ul class="list-group border-right">
                        <li class="list-group-item border-0 pt-6 mt-5">
                            <a href="index.html">
                                <span class="icon-home"></span>
                            </a>
                        </li>
                        <li class="list-group-item border-0 pt-6 mt-5">
                            <a href="table.html">
                                <span class="icon-dashboard"></span>
                            </a>
                        </li>
                        <li class="list-group-item border-0 pt-6 mt-5">
                            <a href="order.html">
                                <span class="icon-order active"></span>
                            </a>
                        </li>
                        <li class="list-group-item border-0 pt-6 mt-5">
                            <a href="product.html">
                                <span class="icon-product"></span>
                            </a>
                        </li>
                        <li class="list-group-item border-0 pt-6 mt-5">
                            <a href="javascript:;">
                                <span class="icon-notify"></span>
                            </a>
                        </li>
                        <li class="list-group-item border-0 pt-6 mt-5">
                            <a href="javascript:;">
                                <span class="icon-customers"></span>
                            </a>
                        </li>
                        <li class="list-group-item border-0  pt-6 mt-5">
                            <a href="javascript:;">
                                <span class="icon-message"></span>
                            </a>
                        </li>
                        <li class="list-group-item border-0 pt-6 mt-5">
                            <a href="javascript:;">
                                <span class="icon-setting"></span>
                            </a>
                        </li>
                        <li class="list-group-item border-0 pt-6"></li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-5 pl-3 pl-lg-0">
                <h3 class="pb-4 pt-5 px-lg-0 px-0 orders">Lịch sử đơn hàng</h3>
                <div class="card orders">
                    <div class="card-header bg-none py-4">
                        <h4>Tất cả đơn hàng</h4>
                    </div>
                    <div class="card-body p-4">
                        <div class="list-group overflow-auto order">
                            <div class="row m-0">
                                <div class="col-12 p-0 mb-3 mt-1">
                                    <div class="card card-qr">
                                        <a id="showmenu">
                                            <div class="card-body">
                                                <div class="row py-1">
                                                    <div class="col-6 text-left">
                                                        <div class="h5 font-weight-bolder">
                                                            Đơn hàng #20231
                                                        </div>
                                                        <div class="pt-3">
                                                            <span class="text-muted h6 mr-5">19:10</span>
                                                            <span class="text-muted h6">Bàn: 1</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 text-right">
                                                        <div class="text-green h6">Đã thanh toán</div>
                                                        <div class="h5 font-weight-bolder pt-3">100.000đ</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-12 p-0 mb-3 mt-1">
                                    <div class="card card-qr">
                                        <a href="order-detail.html">
                                            <div class="card-body">
                                                <div class="row py-1">
                                                    <div class="col-6 text-left">
                                                        <div class="h5 font-weight-bolder">
                                                            Đơn hàng #20232
                                                        </div>
                                                        <div class="pt-3">
                                                            <span class="text-muted h6 mr-5">19:10</span>
                                                            <span class="text-muted h6">Bàn: 1</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 text-right">
                                                        <div class="text-main h6">Thanh toán thất bại</div>
                                                        <div class="h5 font-weight-bolder pt-3">100.000đ</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-12 p-0 mb-3 mt-1">
                                    <div class="card card-qr">
                                        <a href="order-detail.html">
                                            <div class="card-body">
                                                <div class="row py-1">
                                                    <div class="col-6 text-left">
                                                        <div class="h5 font-weight-bolder">
                                                            Đơn hàng #20233
                                                        </div>
                                                        <div class="pt-3">
                                                            <span class="text-muted h6 mr-5">19:10</span>
                                                            <span class="text-muted h6">Bàn: 1</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 text-right">
                                                        <div class="text-green h6">Đã thanh toán</div>
                                                        <div class="h5 font-weight-bolder pt-3">100.000đ</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-12 p-0 mb-3 mt-1">
                                    <div class="card card-qr">
                                        <a href="order-detail.html">
                                            <div class="card-body">
                                                <div class="row py-1">
                                                    <div class="col-6 text-left">
                                                        <div class="h5 font-weight-bolder">
                                                            Đơn hàng #20234
                                                        </div>
                                                        <div class="pt-3">
                                                            <span class="text-muted h6 mr-5">19:10</span>
                                                            <span class="text-muted h6">Bàn: 1</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 text-right">
                                                        <div class="text-main h6">Thanh toán thất bại</div>
                                                        <div class="h5 font-weight-bolder pt-3">100.000đ</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-12 p-0 mb-3 mt-1">
                                    <div class="card card-qr">
                                        <a href="order-detail.html">
                                            <div class="card-body">
                                                <div class="row py-1">
                                                    <div class="col-6 text-left">
                                                        <div class="h5 font-weight-bolder">
                                                            Đơn hàng #20235
                                                        </div>
                                                        <div class="pt-3">
                                                            <span class="text-muted h6 mr-5">19:10</span>
                                                            <span class="text-muted h6">Bàn: 1</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 text-right">
                                                        <div class="text-green h6">Đã thanh toán</div>
                                                        <div class="h5 font-weight-bolder pt-3">100.000đ</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 p-3">
                <div class="row pt-3 nothing">
                    <div class="col-12">
                        <div class="list-group" style="height: 70vh;">
                            <div class="m-auto">
                                <div class="pt-5 text-muted text-center lead">Không có chi tiết đơn hàng</div>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="menu" style="display: none;">
                    <div class="d-block d-lg-none">
                        <a href="order.html" class="btn btn-main px-2">
                            <img src="assets/img/back.svg" width="15"> Quay lại
                        </a>
                    </div>
                    <div class="row pt-3">
                        <div class="col-12 mx-auto px-4 px-lg-5 pt-2">
                            <div class="modal-header px-0 d-block">
                                <h5 class="modal-title">
                                    <div class="d-flex">
                                        <h3 class="font-weight-bolder">Đơn hàng #20231</h3>
                                        <h5 class="font-weight-bolder text-main ml-auto">Đã thanh toán</h5>
                                    </div>
                                </h5>
                            </div>
                            <div class="modal-body px-0">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="h5 font-weight-bolder mb-4">Chi tiết</div>
                                        <div class="row p-lg-0 text-center font-weight-bolder">
                                            <div class="col-2 px-lg-0 text-muted h7">T.gian</div>
                                            <div class="col-3 px-lg-0 text-muted h7">Số bàn</div>
                                            <div class="col-4 px-lg-0 text-muted h7">Người thanh toán</div>
                                            <div class="col-3 px-lg-0 text-muted h7">Thanh toán</div>
                                        </div>
                                        <div class="row p-0 mt-2 text-center font-weight-bolder">
                                            <div class="col-2 px-lg-0 h7">20:10</div>
                                            <div class="col-3 px-lg-0 h7">3</div>
                                            <div class="col-4 px-lg-0 h7">Ngô Quốc Cường</div>
                                            <div class="col-3 px-lg-0 h7">Tiền mặt</div>
                                        </div>
                                    </div>
                                    <div class="col-12 mt-5">
                                        <div class="h5 font-weight-bolder mb-3">Đơn hàng</div>
                                        <div class="list-group overflow-auto order-detail">
                                            <div class="card mb-3">
                                                <div class="d-flex justify-content-between p-2">
                                                    <img src="assets/img/pexels-rajesh-tp-1633572-1.png"
                                                        class="img-order">
                                                    <div class="align-self-center mr-auto px-4 font-weight-bolder h7">
                                                        Nui xào bò <span class="ml-2 h7">x2</span>
                                                    </div>
                                                    <div class="text-main align-self-center font-weight-bolder h7 px-4">
                                                        60.000đ
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card mb-3">
                                                <div class="d-flex justify-content-between p-2">
                                                    <img src="assets/img/pexels-rajesh-tp-1633572-1.png"
                                                        class="img-order">
                                                    <div class="align-self-center mr-auto px-4 font-weight-bolder h7">
                                                        Nui xào bò <span class="ml-2 h7">x2</span>
                                                    </div>
                                                    <div class="text-main align-self-center font-weight-bolder h7 px-4">
                                                        60.000đ
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card mb-3">
                                                <div class="d-flex justify-content-between p-2">
                                                    <img src="assets/img/pexels-rajesh-tp-1633572-1.png"
                                                        class="img-order">
                                                    <div class="align-self-center mr-auto px-4 font-weight-bolder h7">
                                                        Nui xào bò <span class="ml-2 h7">x2</span>
                                                    </div>
                                                    <div class="text-main align-self-center font-weight-bolder h7 px-4">
                                                        60.000đ
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card mb-3">
                                                <div class="d-flex justify-content-between p-2">
                                                    <img src="assets/img/pexels-rajesh-tp-1633572-1.png"
                                                        class="img-order">
                                                    <div class="align-self-center mr-auto px-4 font-weight-bolder h7">
                                                        Nui xào bò <span class="ml-2 h7">x2</span>
                                                    </div>
                                                    <div class="text-main align-self-center font-weight-bolder h7 px-4">
                                                        60.000đ
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer px-0">
                                <a href="print.html" class="btn w-100 btn-main p-3" data-toggle="modal"
                                    data-target="#bill">
                                    <h7>In hoá đơn</h7>
                                </a>
                            </div>
                        </div>
                    </div>
                </span>
            </div>
        </div>
        <div class="modal fade" id="bill" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content bg-bill">
                    <div class="modal-header">
                        <h4 class="modal-title">Đơn hàng #2023</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12 p-0">
                                <div class="d-flex justify-content-between px-4 my-2 h7">
                                    <b>Họ và tên</b>
                                    <b>Ngô Quốc Cường</b>
                                </div>
                                <div class="d-flex justify-content-between px-4 my-2 h7">
                                    <b>Bàn</b>
                                    <b>1</b>
                                </div>
                                <div class="d-flex justify-content-between px-4 my-2 h7">
                                    <b>Thanh toán bằng</b>
                                    <b>Tiền mặt</b>
                                </div>
                                <div class="p-4">
                                    <div class="border-top"></div>
                                </div>
                                <div class="row px-4 mb-3 h6">
                                    <div class="col-6 text-left"><b>1). Nui xào bò</b></div>
                                    <div class="col-2 text-center"><b>2</b></div>
                                    <div class="col-4 text-right"><b>60.000đ</b></div>
                                </div>
                                <div class="row px-4 mb-3 h6">
                                    <div class="col-6 text-left"><b>2). Nui xào trứng</b></div>
                                    <div class="col-2 text-center"><b>3</b></div>
                                    <div class="col-4 text-right"><b>90.000đ</b></div>
                                </div>
                                <div class="row px-4 mb-3 h6">
                                    <div class="col-6 text-left"><b>3). Nui xào trứng</b></div>
                                    <div class="col-2 text-center"><b>5</b></div>
                                    <div class="col-4 text-right"><b>150.000đ</b></div>
                                </div>
                                <div class="row px-4 mb-3 h6">
                                    <div class="col-6 text-left"><b>4). Nui xào trứng</b></div>
                                    <div class="col-2 text-center"><b>1</b></div>
                                    <div class="col-4 text-right"><b>30.000đ</b></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body pt-5">
                        <div class="row">
                            <div class="col-12 p-0">
                                <div class="d-flex justify-content-between px-4 h7">
                                    <b>Tổng</b>
                                    <b>330.000đ</b>
                                </div>
                                <div class="d-flex justify-content-between px-4 pt-3 h7">
                                    <span class="text-muted">Phí dịch vụ</span>
                                    <span class="text-muted">20.000đ</span>
                                </div>
                                <div class="p-4">
                                    <div class="border-top"></div>
                                </div>
                                <div class="d-flex justify-content-between px-4 h7">
                                    <b>Tổng cộng:</b>
                                    <b>80.000đ</b>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer d-block mx-auto mb-3">
                        <a href="print_mb.html" class="btn btn-main p-3 px-5">
                            <h6>In hoá đơn</h6>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/slick.min.js"></script>
    <script src="assets/js/style.js"></script>
</body>

</html>