<!doctype html>
<html lang="en">

<head>
    <title>In hoá đơn - RestoMan</title>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/slick.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/style-mobile.css">
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 d-flex justify-content-center align-items-center d-block d-lg-none">
                <a href="index_mb.html">
                    <img src="assets/img/logo.svg" width="32">
                </a>
            </div>
            <div class="col-7 mt-3 d-block d-lg-none">
                <div class="input-group mb-4 border rounded-pill px-1">
                    <input type="search" placeholder="Tìm kiếm?" class="form-control bg-none border-0"
                        style="padding: .375rem .75rem;">
                    <div class="input-group-append border-0">
                        <button class="btn btn-link"><img src="assets/img/search.svg" width="15"></button>
                    </div>
                </div>
            </div>
            <div class="col-2 mt-3 pl-0 d-block d-lg-none">
                <a href="cart_mb.html">
                    <img class="ml-2 float-left" src="assets/img/uil_cart.svg" />
                    <div class="cart-num px-1 d-flex justify-content-center align-items-center">2</div>
                </a>
            </div>
            <div class="col-1 d-flex align-items-center ml-n4 d-block d-lg-none">
                <a href="#menu-toggle" id="menu-toggle" data-toggle="dropdown">
                    <i class="fa-regular fa-bars fa-xl"></i>
                </a>
                <div id="wrapper">
                    <div id="sidebar-wrapper">
                        <ul class="sidebar-nav">
                            <li class="h6">
                                <a href="index_mb.html">
                                    <i class="fa-solid fa-house pr-2 text-lightgrey"></i> Trang chủ
                                </a>
                            </li>
                            <li class="h6">
                                <a href="table.html">
                                    <i class="fa-solid fa-clipboard pr-2 text-lightgrey"></i> Đặt bàn
                                </a>
                            </li>
                            <li class="h6">
                                <a href="product.html">
                                    <i class="fa-solid fa-utensils pr-2 text-lightgrey"></i> Loại sản
                                    phẩm
                                </a>
                            </li>
                            <li class="h6">
                                <a href="javascript:;">
                                    <i class="fa-solid fa-burger pr-2 text-lightgrey"></i> Sản phẩm
                                </a>
                            </li>
                            <li class="h6">
                                <a href="javascript:;">
                                    <i class="fa-solid fa-bell pr-2 text-lightgrey"></i> Thông báo
                                </a>
                            </li>
                            <li class="h6">
                                <a href="javascript:;">
                                    <i class="fa-solid fa-database pr-2 text-lightgrey"></i> Thống kê
                                </a>
                            </li>
                            <li class="h6">
                                <a href="javascript:;">
                                    <i class="fa-solid fa-user pr-2 text-lightgrey"></i> Danh sách
                                    nhân viên
                                </a>
                            </li>
                            <li class="h6">
                                <a href="javascript:;">
                                    <i class="fa-solid fa-gear pr-2 text-lightgrey"></i> Cài đặt
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-1 p-0 d-none d-lg-block">
                <div id="sidebar">
                    <header>
                        <a href="index.html"><img src="assets/img/logo.svg"></a>
                    </header>
                    <ul class="list-group border-right">
                        <li class="list-group-item border-0 pt-6 mt-5">
                            <a href="index.html">
                                <span class="icon-home"></span>
                            </a>
                        </li>
                        <li class="list-group-item border-0 pt-6 mt-5">
                            <a href="table.html">
                                <span class="icon-dashboard"></span>
                            </a>
                        </li>
                        <li class="list-group-item border-0 pt-6 mt-5">
                            <a href="order.html">
                                <span class="icon-order active"></span>
                            </a>
                        </li>
                        <li class="list-group-item border-0 pt-6 mt-5">
                            <a href="product.html">
                                <span class="icon-product"></span>
                            </a>
                        </li>
                        <li class="list-group-item border-0 pt-6 mt-5">
                            <a href="javascript:;">
                                <span class="icon-notify"></span>
                            </a>
                        </li>
                        <li class="list-group-item border-0 pt-6 mt-5">
                            <a href="javascript:;">
                                <span class="icon-customers"></span>
                            </a>
                        </li>
                        <li class="list-group-item border-0  pt-6 mt-5">
                            <a href="javascript:;">
                                <span class="icon-message"></span>
                            </a>
                        </li>
                        <li class="list-group-item border-0 pt-6 mt-5">
                            <a href="javascript:;">
                                <span class="icon-setting"></span>
                            </a>
                        </li>
                        <li class="list-group-item border-0 pt-6"></li>
                    </ul>
                </div>
            </div>
            <div class="col-11 mt-3 mt-lg-5 mx-auto">
                <a href="order.html" class="btn btn-main px-2 mb-5">
                    <img src="assets/img/back.svg" width="15"> Quay lại
                </a>
                <div class="text-center">
                    <img src="assets/img/illustration.png" class="img-fluid">
                    <div class="mt-5">
                        <h2 class="font-weight-bolder mb-3">In hóa đơn thành công</h2>
                        <h5 class="text-muted">Vui lòng đợi giây lát để in hóa đơn</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/slick.min.js"></script>
    <script src="assets/js/style.js"></script>
</body>

</html>